ion-content {

  div.no-task {
    height: 100%;

    h4 {
      text-align: center;
    }
  }

  ion-item.task-item {
    border: 2px solid var(--ion-color-primary);
    margin: 1em;
    border-radius: 1em;
  }
}

ion-fab-button {
  span {
    color: white;
    font-size: 35px;
  }
}