<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Today's task
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">Logout</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="!todoList.length">
    <div class="no-task center">
      <h4>Add some tasks 🚀</h4>
    </div>
  </ng-container>
  <ion-list *ngIf="todoList.length">
    <ion-item class="task-item" *ngFor="let todo of todoList">
      <ion-label>
        <h2>{{ todo.title }}</h2>
        <p>{{ todo.description }}</p>
        <p>{{ todo.date }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="goToAddTodo()">
      <span class="fab-text">+</span>
    </ion-fab-button>
  </ion-fab>
</ion-content>
